@model IQueryable<string>

<div class="d-grid gap-2">
    @* Let's build the home tag *@
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Products" asp-route-productType="" asp-route-pageNum="">All Products</a> 

    @foreach (string pt in Model ?? Enumerable.Empty<string>()) 
    {
        <a class="btn @(pt == ViewBag.SelectedProductType ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Products" asp-route-productType="@pt" asp-route-pageNum="1" >@pt</a>
    } 
</div>